.root-box {
   background-color:#4478A6;
   padding:20px;
}


.company-box, .companies-index {
   background-color:#83B8D9;
   padding:20px;
   margin:10px;
}

.task-box, .tasks-index {
   background-color:#7AA61B;
   padding:20px;
   margin:10px;
}
.project-box, .projects-index {
   background-color:#6F8C42;
   padding: 20px;
   margin:10px;
}
.comment-box, .comments-index {
   background-color:#C1D90D;
   padding:20px;
   margin:10px;
}

a.edit, a.delete {
   float: top right;
}
