.root-box {
   background-color:#4478A6;
}

.company-box {
   background-color:#83B8D9;
}

.task-box {
   background-color:#7AA61B;
}
.project-box {
   background-color:#6F8C42;
}
.comment-box {
   background-color:#C1D90D;
}

