<div class="root-box">
<h1>Companies</h1>

<% @companies.each do |company| %>
<div class="company-box">
   <%= link_to company.name, company %>
   <%= link_to 'Edit', edit_company_path(company) %>
   <%= link_to 'x', company, :confirm => 'Are you sure?', :method => :delete %>
</div>
<% end %>

</div>
<%= link_to 'New company', new_company_path %>
